<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <!-- Style Sheet -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>

    <!-- Navbar -->

    <nav class="navbar bg-dark navbar-expand-lg navbar-light text-light py-2 fixed-top">
        <div class="container">
            <img  class="pt-0 mt-0" src="Img/WhatsApp_Image_2023-06-02_at_12.48.08-removebg-preview.png"
                style="width: 40px;" alt="logo"> 
            <a href="#" class="navbar-brand "><span class="text-light " style="margin-top: 5px;"> Soul Care</span> </a>

            <button 
            class="navbar-toggler me-0" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navmenu"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse me-2 "  id="navmenu">
                <ul class="navbar-nav ms-auto " >
                    <li class="nav-item"  >
                        <a class="nav-link " style="color: rgb(255, 255, 255)" href="#">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " style="color: rgb(255, 255, 255)" href="#about">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="color: rgb(255, 255, 255)"  href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="color: rgb(255, 255, 255)"  href="#blog">Blog</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="color: rgb(255, 255, 255)"  href="#forum">Forum</a>
                    </li>
                    
                </ul>
            </div>
            <a class="nav-link" href="/login" style="color: rgb(104,140,200)"><button class="btn btn-warning">Login</button></a>

        </div>
    </nav>

    <!-- Showcase -->

    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center  justify-content-between">
                <div>
                    <h1>Hello <span class="text-warning"> Web Surfer </span></h1>
                    <h1>Care for your <span class="" style="color: rgb(104,140,200)">Inner Self</span></h1>

                    <p class="lead my-5"> No stigma. No limits.<br>
                        Discover a Safe Space for your Healing and Growth with Professional Support Tailored to Your Unique needs.
                    </p>    
                    <button class="btn btn-lg text-light" style="background-color: rgb(104,140,200)">Test Your Mental Health</button>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="img\Mental health-amico.svg">

            </div>
        </div>
    </section>

    <!-- NewsLetter -->

    <section class="b text-light p-5" style="background-color: rgb(104,140,200)" >
        <div class="container">
          <div class="d-md-flex justify-content-between align-items-center">
            <div>
                <h3 class="mb-3 mb-md-0">Sign Up For Our NewsLetter <i class="fa-solid fa-file"></i></h3>
                <p class="mt-2" style="color:rgb(215, 215, 215)">For Updates on our weekly Blogs.</p>
            </div>

  
            <div class="input-group news-input">
              <input type="text" class="form-control" placeholder="Enter Email" />
              <button class="btn btn-dark btn-lg" type="button">Join Us</button>
            </div>

          </div>
        </div>
      </section>

    <!-- Fundamentals -->

    <section class="p-5"   id="learn" >
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md">
                <img src="Img/Psychologist-amico.svg" class="img-fluid" alt="Fundamentals">
            </div>
            <div class="col-md p-5">
                <h2>Why SoulCare <i class="fa-solid fa-heart"></i> </h2>
                    <ul class="lead">
                        <li>Best Upcoming Online Counseling Platform in India</td>
                        <li>Informative Self-help and Self-Improvement Blogs by experts</li>
                        <li>Interactive Forums and Live Chat with Other Patients</li>
                        <li>Find Top-rated Online Therapy for Stress, Anxiety, Depression & Burnout</li>
                        <li>Online Counseling for Relationship Issues</li>
                        <li>Interactive Sessions and Web Seminars with Healthcare Professionals</li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary">Book Approintment Now <i class="fa-solid fa-angles-right"></i></a>
            </div>
        </div>
    </div>
    </section>
     
<!-- Boxes -->

<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <div class="h1 mb-3">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h3 class="card-title mb-3">Individual Counseling</h3>
                        <p class="card-text">
                            One-on-one counseling sessions where a therapist works with a client to explore their thoughts, emotions, and behaviors. This type of therapy focuses on personal growth, self-awareness, and overcoming specific challenges.
                        </p>
                        <a href="#" class="btn btn-primary">Book Now <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body">
                        <div class="h1 mb-3">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3 class="card-title mb-3">Couples Counseling</h3>
                        <p class="card-text">
                            Relationship-focused therapy designed to help couples address and resolve conflicts, improve communication, deepen intimacy, and strengthen their bond. Couples therapy can be beneficial for married or unmarried couples.
                        </p>
                        <a href="#" class="btn btn-dark">Book Now <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <div class="h1 mb-3">
                            <i class="fa fa-users"></i>
                        </div>
                        <h3 class="card-title mb-3">Teen Counseling</h3>
                        <p class="card-text">
                            Play therapy is a therapeutic approach that uses play to help teenagers express themselves, explore their thoughts and emotions, and resolve conflicts. It is especially effective for younger teenagers or those who may struggle with verbal expression.
                        </p>
                        <a href="#" class="btn btn-primary">Book Now <i class="fa-solid fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>



      <!-- How it works -->

      <section id="about" class="p-5 bg-dark text-light">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                
                <div class="col-md p-5">

                    <h2>How SoulCare Works? <i class="fa fa-heart"></i></h2>
                    <p class="lead"></p>
                    <p class="lead"></p>
                    <p class="lead"></p>

                    <p class="lead">At SoulCare, we are committed to providing a holistic approach to mental healthcare and wellbeing. We understand that each individual's journey is unique, and we strive to offer a personalized experience that caters to your specific needs. Whether you choose online counseling, explore our informative blogs, or connect with peers in our live chatrooms.</p>
                    <p class="lead">Take the first step towards your mental well-being. Together, we can nurture your soul and empower you to lead a fulfilling and balanced life.</p>
                    <a href="#" class="btn btn-info"> Begin Your Journey Now <i class="fa-solid fa-angles-right"></i></a>

                    

                </div>

                <div class="col-md">
                    <img src="Img/Working remotely-bro.svg" class="img-fluid" alt="Fundamentals">
                </div>
                <div class="container">
                    <div class="row text-center g-4">
                        <div class="col-md">
                            <div class="card  text-light" style="background-color: rgb(55,71,79);"> 
                                <div class="card-body">
                                    <div class="h1 mb-3">
                                        <i class="fa fa-laptop"></i>
                                    </div>
                                    <h3 class="card-title mb-3">Online Counseling</h3>
                                    <p class="card-text">Join our Online Counseling ,Book a secure private session with a Counselor
                                    </p>
                                    <a href="#" class="btn btn-primary">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md">
                            <div class="card bg-secondary text-light">
                                <div class="card-body">
                                    <div class="h1 mb-3">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <h3 class="card-title mb-3">Expert Blogs</h3>
                                    <p class="card-text">Explore our collection of engaging and blogs written by our team of experts.
                                    </p>
                                    <a href="#" class="btn btn-dark">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card text-light" style="background-color: rgb(112, 138, 182);" >
                                <div class="card-body">
                                    <div class="h1 mb-3">
                                        <i class="fa fa-users"></i>

                                    </div>
                                    <h3 class="card-title mb-3">Live Chatrooms</h3>
                                    <p class="card-text"> Join our live chatrooms, for individuals facing similar mental health challenges
                                    </p>
                                    <a href="" class="btn btn-dark" style="background-color: rgb(55,71,79);">Learn More <i class="fa-solid fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </section>

      <!-- forum -->
      <section class="p-5"   id="forum" >
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md">
                    <img src="img/Messaging-amico.svg" class="img-fluid" alt="Fundamentals">
                </div>
                <div class="col-md p-5">
                    <h2>Visit Our Forums</h2>
        <p class="lead">Join our vibrant community of individuals who are seeking support, sharing experiences, and fostering connections.</p>
        <p class="mb-5">Our forums provide a safe and inclusive space where you can engage with like-minded individuals who understand what you're going through.</p>
        <ul class="list-unstyled">
          <li><i class="fas fa-check"></i> Share your stories and experiences</li>
          <li><i class="fas fa-check"></i> Seek advice and support from others facing similar challenges</li>
          <li><i class="fas fa-check"></i> Connect with a supportive community that values empathy and understanding</li>
          <li><i class="fas fa-check"></i> Discover new perspectives and insights</li>
          <li><i class="fas fa-check"></i> Contribute to meaningful discussions and offer support to others</li>
        </ul>
        <p>Whether you're looking for a place to share your thoughts, ask questions, or simply find comfort in knowing that you're not alone, our forums are here to support you on your journey towards mental well-being.</p>
        <p>Join us today and become a part of our thriving community!</p>
                        <a href="/forum" class="btn btn-outline-primary">Check Out our Forum! <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
        </section>
      
        <!-- reviews -->
    
        <section class="p-5 text-dark" style="background-color: rgb(218, 218, 218);" id="reviews">
            <div class="container">
                <div class="row text-center g-4">
                    <div class="col-md">
                        <div class="card text-start" style="background-color: rgb(255, 255, 255);"> 
                            <div class="card-body">

                                <h3 class="card-title mb-3"><i class="fa-solid fa-circle-user"></i> Mike</h3>
                                <p class="card-text">This mental healthcare website transformed my life! The therapists are compassionate and insightful, providing personalized support. Highly recommend for anyone seeking healing and growth.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md">
                        <div class="card text-start" style="background-color: rgb(255, 255, 255);">
                            <div class="card-body">

                                <h3 class="card-title mb-3"><i class="fa-solid fa-circle-user"></i> Allen</h3>
                                <p class="card-text">I was skeptical at first, but this mental healthcare website exceeded my expectations. The online therapy sessions were convenient and effective. I feel happier and more empowered Thank you so much.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card text-start" style="background-color: rgb(255, 255, 255);" >
                            <div class="card-body">

                                <h3 class="card-title mb-3"><i class="fa-solid fa-circle-user"></i> Rick</h3>
                                <p class="card-text">I found solace in this mental healthcare website. The resources are comprehensive and the community is incredibly supportive. It's a safe space to share and heal. Thank you For your Services!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card text-start" style="background-color: rgb(255, 255, 255);" >
                            <div class="card-body">

                                <h3 class="card-title mb-3"><i class="fa-solid fa-circle-user"></i> Akshat</h3>
                                <p class="card-text">I stumbled upon this mental healthcare website during a difficult time, and it became my lifeline. The counselors are empathetic, and the online platform is user-friendly. Forever grateful for  guidance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

   <!-- blog -->
   <section id="blog" class="p-5 bg-light-subtle text-dark">
    <div class="container mt-4">
        <h1>Latest Blog Posts & News</h1>
    </div>
    <div class="container mt-4">
        <!-- Blog Posts -->
        <div class="row g-5">
                <!-- Blog Post 1 -->
                <div class="col-md card mb-4">
                    <img class="card-img-top" src="https://www.nami.org/NAMI/media/NAMI-Media/BlogImageArchive/2023/Self_Blog.jpg" alt="Blog Post 1">
                    <div class="card-body">
                        <h2 class="card-title">Understanding and Assessing Self-Harm: What You Need to Know</h2>
                        <p class="card-text">Self-harm, the intentional and direct harming of one’s own body, is a serious problem that can profoundly impact a person’s life. This can include a variety of behaviors, such as cutting, burning or scratching oneself. There are many reasons why someone might self-harm. </p>
                        <a href="https://www.nami.org/Blogs/NAMI-Blog/May-2023/Understanding-and-Assessing-Self-Harm-What-You-Need-to-Know" class="btn btn-primary" target=”_blank” attribute>Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                      MAY. 17, 2023
                      By Max E. Guttman, LCSW
                    </div>
                </div>

                <!-- Blog Post 2 -->
                <div class="col-md card mb-4">
                    <img class="card-img-top" src="https://www.nami.org/NAMI/media/NAMI-Media/BlogImageArchive/2023/Psychosis_Blog_1.png" alt="Blog Post 2">
                    <div class="card-body">
                        <h2 class="card-title">Early Psychosis Intervention</h2>
                        <p class="card-text">I live with psychosis. This symptom of my bipolar disorder has had a devastating impact on my mental health and my life — including extensive professional and personal disruptions, family conflict, multiple involuntary hospitalizations and an arrest.</p>
                        <a href="https://www.nami.org/Blogs/NAMI-Blog/May-2023/Early-Psychosis-Intervention" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                      MAY. 12, 2023
                      By Katherine Ponte, JD, MBA, CPRP
                    </div>
                </div>

        </div>
        <!-- Blog Posts -->
        <div class="container">
            <div class="row">
                <!-- Blog Post 1 -->
                <div class="col-md card mb-4">
                    <img class="card-img-top" src="https://www.goodtherapy.org/blog/blog/wp-content/uploads/2023/04/AdobeStock_52499331-scaled.jpeg" alt="Blog Post 1">
                    <div class="card-body">
                        <h2 class="card-title">How to Stop Fighting and Start Communicating with Your Partner </h2>
                        <p class="card-text">In a fight there is a winner and a loser and most of us want to win.  So, if you are fighting with your spouse, and you are the winner, that would make them the loser.</p>
                        <a href="https://www.goodtherapy.org/blog/stop-fighting-with-your-spouse/" class="btn btn-primary" target=”_blank” attribute>Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on April 19, 2023 by Staci Lee Schnell, MS, CS, LMFT
                    </div>
                </div>

                <!-- Blog Post 2 -->
                <div class="col-md card mb-4">
                    <img class=" card-img-top" src="https://www.goodtherapy.org/blog/blog/wp-content/uploads/2021/12/GettyImages-1163500813-1-800x534.jpg" alt="Blog Post 2">
                    <div class="card-body">
                        <h2 class="card-title">A Deeper Understanding of Love</h2>
                        <p class="card-text">Love is an illusion in the sense that it seems like something we give and receive. It seems like something we need to survive. And in some ways, it is.</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on April 5, 2023, 2023 by Lisa Taylor
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <div class="container mt-4">
        <h4>

            <span>Check out <a href="/forum" class="btn btn-outline-warning">more Blog Posts ></a> </span>
        </h4>
    </div>
    </section>

</body>
</html>
